h1 {
  /* font-family: Madimi One;  */
  font-family: Kode Mono;
  font-weight: bold;
  text-align: center;
  color: white;
  border: solid white 4px; 
  padding: 15px; 
  background-color:rgb(3, 104, 75);
  border-radius: 7px;
}

.header-Text {
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  padding: 10px; 

}

.dateTimeContainer {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
  border: solid white 2px; 
  border-radius: 20px;

}

.date-time {
  font-family: Kode Mono;
  padding: 15px; 
  margin: 5px; 
  text-align: center;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  text-align: center;
  background: rgb(19, 25, 25);
  color: rgb(255, 255, 255);
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #ffffff;
  border-left: 1px solid black;
  padding: 10px;
}

.description {
  white-space: pre-wrap; 
  
}

.time-block {
  border-radius: 15px;
}

.row {
  border-top: 1px solid white;
}

.hour {
  background-color: rgb(19, 25, 25);
  color: #ffffff;
  font-family: Kode Mono;
}

.past {
  background-color: rgb(64, 67, 67);
  color: rgb(113, 113, 111);
}

.customPastText {
  color: rgb(110, 110, 109)

}

.present {
  background-color: #079874;
  color: rgb(255, 255, 255);
}

.future {
  background-color: rgb(19, 25, 25);;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #0b784e;
  color: white;
}

.saveBtn:Hover {
  background-color: #3be6a4;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  
}
